<% provide(:title, "Home") %>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SocialReview</title>


    <!-- Custom CSS -->
    <link href="/app/assets/stylesheets/grayscale.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <% if logged_in? %>




    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>






  <% else %>


  <body>
    <!--<div class="center jumbotron">
    <h1> Welcome to the SocialReview!</h1>
    <%=  link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
   </div> -->

   <!-- Intro Header -->

    <header class="intro">
        <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
            <img src='http://gratisography.com/pictures/35_1.jpg' style='width:100%;height:100%;linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));' alt='[]' />
        </div>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <br>
                    <br>
                    <br>
                    <br>
                        <h1 class="brand-heading" align="center"><i class="fa fa-star"></i> <span class="light">Social</span>Review</h1>
                        <p class="intro-text">Connect with your peers and<br>Share with your friends!</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>About SocialReview</h1>
                <p>SocialReview is a new social network that allows you to share what interests <b>YOU</b>!</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </section>
    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

    <!-- Download Section -->
    <!-- <section id="download" class="content-section text-center"> -->
        <div class="download-section">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>Sign up and connect with your friends!</h1>
                        <p>Get started now!</p>
                        <%=  link_to "Sign up", signup_path, class: "btn btn-default btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
     <!-- </section> -->

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Contact SocialReview</h1>
                <p>Feel free to email us to provide some feedback, give us suggestions, or to just say hello!</p>
                <p><a href="#">support@socialreview.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script src="app/assets/javascript/grayscale.js"></script>

  </body>

  <% end %>

