<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  Category:
  <div class="category-field">
    <%= f.collection_select(:category_id, Category.order('name ASC').all, :id, :name, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.text_field :subject, placeholder: "Enter a subject" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Create a message/review..." %>
  </div>
  <div class="field">
    <div id="star-rating"></div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary btn-lg" %>
  <span class="picture">

  </span>
<% end %>

<script type="text/javascript">
$('#micropost_picture').bind('change', function() {
	size_in_megabytes = this.fies[0].size/1024/1024;
	if (size_in_megabytes > 5) {
		alert('Maximum file size is 5MB. Please choose a smaller file.');
	}
});
</script>

<script>
  $('#star-rating').raty({
    starOn: '<%= image_path('star-on.png') %>',
    starOff: '<%= image_path('star-off.png') %>',
    path:'',
    scoreName: 'micropost[rating]',
    score: 5,
    hints: ["Terrible", "Bad", "Average", "Good", "Amazing!"]
  });

</script>
