<li id="micropost-<%= micropost.id %>">

  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <% if micropost.category %>
    <% if micropost.category.icon %>
      <span class="icon"><i class="fa fa-<%=micropost.category.icon%>"></i></span>
    <% end %>
  <% end %>
  <span class="subject">
    <strong><%= micropost.subject %></strong>
  </span>
  <span class="content">
    <%= micropost.content %>
  </span>
  <span>
    <div class="star-rating" data-score= <%= micropost.rating %> ></div>
  </span>

  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> ago.
    <span class="votes-count" data-id="<%= micropost.id %>"
      <% if micropost.get_likes.size > 0 %>
        <i class="fa fa-check-square"></i> <%= pluralize(micropost.get_likes.size, "user") %> like this.
      <% end %>
    </span>
    <%= link_to "Like", like_micropost_path(micropost), class: 'vote', method: :put, remote: true %>


    <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
     													data: { confirm: "You sure?"} %>
    <% end %>
  </span>

  <span class="timestamp">
    <% micropost.comments.each do |comment| %>
      <%= link_to gravatar_for(comment.user, size: 25), comment.user %>
      <%= link_to comment.user.name, comment.user %>
      <%= comment.comment %>
      <br>
      <%= time_ago_in_words(comment.created_at) %> ago.
      <br>
    <% end %>
  </span>

  <span class="timestamp">
    <%= form_for [micropost, Comment.new] do |f| %>
      <div>
        <%= link_to gravatar_for(current_user, size: 25), current_user %>
        <%= link_to current_user.name, current_user %>
        <%= f.text_area :comment, placeholder: "Post a comment..." %>
        <p><%= f.submit "Add Comment"%></p>
      </div>
    <% end %>
  </span>

  <script>
    $('.star-rating').raty({
        starOn: '<%= image_path('star-on.png') %>',
        starOff: '<%= image_path('star-off.png') %>',
        path: '',
        readOnly: true,

        score: function(){
            return $(this).attr('data-score');
        }
    });
  </script>
</li>



